.containerBg {
    background-color: #F9FBEF;
}

.header {
    height: 100px;
    width: auto;
}

.footer {
    height: 200px;
    width: auto;
    background-color: #413C58
}

.navBg {
    background-color: #413C58;
}

.navText {
    color: #413C58;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    color:  #413C58!important;
}

.cardOrga {
    border-color: #A3C4BC;
    background-color: #A3C4BC;
}

.textOrga {
    color: #A3C4BC;
}

.cardVolunteer {
    border-color: #BFD7B5;
    background-color: #BFD7B5;
}

.textVolunteer {
    color:  #BFD7B5;
}

.cardContact {
    border-color: #EDD182;
    background-color: #EDD182;
}

.textContact {
    color:  #EDD182;
}

.bi-images {
    color: #F2F6DF;
}

.textFont {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.imgHeader {
    width: 140px;
    height: auto;
}

.navImg {
    width: 50px;
    height: auto;
}